/* /Layout/MainLayout.razor.rz.scp.css */
.page[b-agupx8yfi6] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-agupx8yfi6] {
    flex: 1;
}

.sidebar[b-agupx8yfi6] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-agupx8yfi6] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-agupx8yfi6]  a, .top-row[b-agupx8yfi6]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-agupx8yfi6]  a:hover, .top-row[b-agupx8yfi6]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-agupx8yfi6]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row[b-agupx8yfi6] {
        justify-content: space-between;
    }

    .top-row[b-agupx8yfi6]  a, .top-row[b-agupx8yfi6]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-agupx8yfi6] {
        flex-direction: row;
    }

    .sidebar[b-agupx8yfi6] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-agupx8yfi6] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-agupx8yfi6]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-agupx8yfi6], article[b-agupx8yfi6] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Layout/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-ttxvcnl5y1] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-ttxvcnl5y1] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-ttxvcnl5y1] {
    font-size: 1.1rem;
}

.bi[b-ttxvcnl5y1] {
    display: inline-block;
    position: relative;
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.75rem;
    top: -1px;
    background-size: cover;
}

.bi-house-door-fill-nav-menu[b-ttxvcnl5y1] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-house-door-fill' viewBox='0 0 16 16'%3E%3Cpath d='M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5Z'/%3E%3C/svg%3E");
}


.bi-person-nav-menu[b-ttxvcnl5y1] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-person' viewBox='0 0 16 16'%3E%3Cpath d='M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-5 7a5 5 0 1 1 10 0H3z'/%3E%3C/svg%3E");
}

.bi-folder-nav-menu[b-ttxvcnl5y1] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-folder2' viewBox='0 0 16 16'%3E%3Cpath d='M.5 3A1.5 1.5 0 0 1 2 1.5h4.086a1.5 1.5 0 0 1 1.06.44l.914.914H14a1.5 1.5 0 0 1 1.5 1.5v1.586a1.5 1.5 0 0 1-.44 1.06l-8.914 8.914A1.5 1.5 0 0 1 4.086 16H2A1.5 1.5 0 0 1 .5 14.5V3z'/%3E%3C/svg%3E");
}

.bi-envelope-nav-menu[b-ttxvcnl5y1] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-envelope' viewBox='0 0 16 16'%3E%3Cpath d='M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-.5a.5.5 0 0 0-.5.5v.217l6.5 4.2 6.5-4.2V4a.5.5 0 0 0-.5-.5H2z'/%3E%3C/svg%3E");
}
.bi-image-nav-menu[b-ttxvcnl5y1] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-image' viewBox='0 0 16 16'%3E%3Cpath d='M14.002 3a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H2.002a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h12zm-12 1a.001.001 0 0 0 0 0v8a.001.001 0 0 0 0 0h12a.001.001 0 0 0 0 0V4a.001.001 0 0 0 0 0H2.002z'/%3E%3Cpath d='M10.648 8.646a.5.5 0 0 1 .704.048l2 2.5a.5.5 0 0 1-.768.64l-1.842-2.303-1.081 1.295a.5.5 0 0 1-.768-.64l1.5-1.5a.5.5 0 0 1 .255-.14z'/%3E%3Cpath d='M4.502 6.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: contain;
    color: #d7d7d7;
    border-radius: 4px;
    height: 3rem;
    display: flex;
    align-items: center;
    line-height: 3rem;
}


.nav-item[b-ttxvcnl5y1] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-ttxvcnl5y1] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-ttxvcnl5y1] {
        padding-bottom: 1rem;
    }

    .nav-item[b-ttxvcnl5y1]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-ttxvcnl5y1]  a.active {
    background-color: rgba(255,255,255,0.37);
    color: white;
}

.nav-item[b-ttxvcnl5y1]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-ttxvcnl5y1] {
        display: none;
    }

    .collapse[b-ttxvcnl5y1] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
    
    .nav-scrollable[b-ttxvcnl5y1] {
        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
